@model IEnumerable<QA.Models.Question>
@using QA.Models
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .question {
        border: 2px solid #ccc;
        background-color: #eee;
        border-radius: 5px;
        padding: 16px;
        margin: 16px 0;
        width: 72%;
        margin-left:16%;
    }

        .question::after {
            content: "";
            clear: both;
            display: table;
        }

        .question img {
            float: left;
            margin-right: 20px;
            border-radius: 50%;
        }

        .question span {
            font-size: 20px;
            margin-right: 15px;
        }
</style>
<div class="top-news">
    <div class="container">
        <div class="row">
            @Html.Action("Left", "Home")
            @Html.Action("Right", "Home")
        </div>
    </div>
</div>


<h2 style="text-align:center;">@ViewBag.Name</h2>
@foreach (var item in Model)
{
    if (item.Incognito == false)
    {
        QuestionAndAnswerEntities db = new QuestionAndAnswerEntities();
        Account ac = db.Accounts.SingleOrDefault(m => m.IDAccount == item.IDAccount);
        <div class="question">
            <img src="~/Content/Images/avatar/@ac.Avatar" alt="Avatar" style="width:90px">
            <p><span>@ac.UserName</span>@item.Datetime</p>
            <a href="@Url.Action("Detail","Home", new { id = item.IDQuestion })">@item.Topic</a>
        </div>
    }
    else
    {
        <div class="question">
            <img src="~/Content/Images/img_avatar1.png" alt="Avatar" style="width:90px">
            <p><span>Ẩn danh</span>@item.Datetime</p>
            <a href="@Url.Action("Detail","Home", new { id = item.IDQuestion })">@item.Topic</a>
        </div>
    }
}
